<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Movie List</title>
<header th:insert="fragments/header.html :: header"> </header>

</head>
<body>
	
 	<div th:if="${movieList !=null}">
 		<table class="table table-stripped">
	 		<thead>
	 			<tr>
	 				<th>Name</th>
	 				<th>Director</th>
	 				<th>Year</th>
	 				<th>Genres</th>
	 			</tr>
	 		</thead>
	 		<tbody>
	 			<tr th:each="movie:${movieList}">
	              <td th:text="${movie.name}"></td>
	              <td th:text="${movie.director}"></td>
	              <td th:text="${movie.year}"></td>
	              <td th:text="${movie.genre}"></td>
	            </tr>
	 		</tbody>
	 	</table>
 	</div>
 	<div th:if="${movieList ==null}">
 		Sorry,there were no movies.
 	</div>
 	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>