<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Movie View</title>
<style>
.validationError
{
	color:red;
}
</style>
</head>
<body>
	<h1>Movie view </h1>
	<form method="POST" th:object="${movie}">
		Name <input type="text" th:field="*{name}"/>
		<span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
		 <br/>
		Director <input type="text" th:field="*{director}"/> 
		<span class="validationError" th:if="${#fields.hasErrors('director')}" th:errors="*{director}">Director Error</span>
		<br/>
		
		Year <input type="text" th:field="*{year}"/> 
		<span class="validationError" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</span>
		<br/>
		<button type="submit">Create</button>
	</form>
	
 	<p th:text="${message}">placeholder message</p>
 	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>