<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Movie View</title>
<header th:insert="fragments/header.html :: header"> </header>
</head>
<body>
	<h2>New Movie view </h2>
	<div class="col-sm-4">
		<form method="POST" th:object="${movie}">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" th:field="*{name}" class="form-control"/>

			<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}">
				<span   th:errors="*{name}">Name Error</span>
			</div>	
		</div>
		
		<div class="form-group">
			<label for="director"> Director</label> 
			<input type="text" th:field="*{director}" class="form-control"/> 
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('director')}">
				<span   th:errors="*{director}">Director Error</span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="genre"> Genre</label> 
			<select class="form-control" th:field="*{genre}" >
                        <option value="">Nothing selected</option>
                        <!-- 
                        <option th:each="g : ${genres}"
                                th:value="${g}"
                                th:text="${g}">Genres
                        </option>
                         -->
                          
                        <option th:each="g : ${T(com.javaeethirdbatch.model.Genres).values()}"
                                th:value="${g}"
                                th:text="${g}">Genres
                        </option>
                        

                    </select>
		</div>
		<div class="form-group">
			<label for="year">Year</label>
			<input type="text" th:field="*{year}" class="form-control"/> 
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('year')}" >
				<span th:errors="*{year}">Year Error</span>
			</div>
			
		</div>
		
		<button type="submit" class="btn btn-primary">Create</button>
	</form>
	</div>
	
	
 	
 	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>